extends layout

block content
  .card.card__table.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text #{title}
    .mdl-card__media
      table.mdl-data-table.mdl-js-data-table.custom__table.tablesorter
        thead
          tr
            th.custom__table-left(id='sort1') Arial #
            th.custom__table-left(id='sort2') Room
            th.custom__table-left(id='sort3') Description
        tbody
          each item in arial
            tr
              td.custom__table-left
                a(href='/phone/#{item.arial}') #{item.arial}
              td.custom__table-left #{item.room}
              td.custom__table-left #{item.desc}
    .mdl-card__menu
      a.mdl-button.mdl-js-button.mdl-button--icon(href='/phone/add')
          i.material-icons add
    
    .mdl-tooltip(for='sort1') Sort
    .mdl-tooltip(for='sort2') Sort
    .mdl-tooltip(for='sort3') Sort
  script.
    $(document).ready(function() 
      { 
          $("table").tablesorter({
            sortList: [[0,0]]
          }); 
      } 
    );
