extends ../layout.jade

block content
  .card.card__table.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text #{title}
    .mdl-card__media
      table.mdl-data-table.mdl-js-data-table.tablesorter
        thead
          tr
            th.custom__table-left(id='sort1') Name
            th.custom__table-left(id='sort2') MAC
            th.custom__table-right(id='sort3') Switch
            th.custom__table-left(id='sort4') Port
            th.custom__table-right(id='sort4')
        tbody
          each ap in aps
            tr
              td.custom__table-left #{ap.name}
              td.custom__table-left
                a(href='https://10.1.1.200/centcfg/device_edit.asp?entity=device&selector=#{ap.mac}') #{ap.mac}
              td.custom__table-right
                a(href="/network/switch/#{ap.sw.name}/#{ap.sw.port}") #{ap.sw.name}
              td.custom__table-left
                a(href="/network/switch/#{ap.sw.name}/#{ap.sw.port}") #{ap.sw.port}
              td.custom__table-right
                a(href='/network/aps/#{ap.name}')
                  i.material-icons edit
    .mdl-card__menu
      a.mdl-button.mdl-js-button.mdl-button--icon(href='/network/aps/add')
          i.material-icons add
    .mdl-tooltip(for='sort1') Sort
    .mdl-tooltip(for='sort2') Sort
    .mdl-tooltip(for='sort3') Sort
    .mdl-tooltip(for='sort4') Sort
    script.
      $(document).ready(function() 
        { 
            $("table").tablesorter({
              sortList: [[2,0], [3,0]]
            }); 
        } 
      );
