extends ../layout.jade

block content
  each panel in patch
    .card.card__table.mdl-card.mdl-shadow--4dp
      .mdl-card__title
        h2.mdl-card__title-text N#{panel.node}P#{panel.panel}
      .mdl-card__supporting-text
        .patch__data-title
          p.patch__data-title-text Port
          p.patch__data-title-text Location
          p.patch__data-title-text Port
          p.patch__data-title-text Location
          p.patch__data-title-text Port
          p.patch__data-title-text Location
          p.patch__data-title-text Port
          p.patch__data-title-text Location
        .patch__data-content
          each port in panel.port
            p.patch__data-content-text #{port.num}
            p.patch__data-content-text #{port.dest}
      .mdl-card__menu
        button.mdl-button.mdl-js-button.mdl-button--icon(id='N#{panel.node}P#{panel.panel}')
          i.material-icons more_vert
      ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='N#{panel.node}P#{panel.panel}')
        li.mdl-menu__item
          a(href('#N0P0', data-scroll)) Back to top
        li.mdl-menu__item
          a(href('/network/patch/add')) Add
