extends ../layout.jade

block content
  #top.card.card__table.mdl-card.mdl-shadow--4dp
    .mdl-card__title
      h2.mdl-card__title-text #{title}
    .mdl-card__supporting-text
      .patch__data-content
        each panel in patch
          span.patch__data-title-pair
            p
              a.mdl-button.mdl-js-button.mdl-button--primary.mdl-js-ripple-effect(href='#N#{panel.node}P#{panel.panel}' data-scroll) Node #{panel.node} Panel #{panel.panel}
  each panel in patch
    .card.card__table.mdl-card.mdl-shadow--4dp
      .mdl-card__title
        h2.mdl-card__title-text Node #{panel.node}, Panel #{panel.panel}
      .mdl-card__supporting-text
        .patch__data-content
          span.patch__data-content-pair
            p.patch__data-title-item Port
            p.patch__data-title-item Location
          span.patch__data-content-pair
            p.patch__data-title-item Port
            p.patch__data-title-item Location
          span.patch__data-content-pair
            p.patch__data-title-item Port
            p.patch__data-title-item Location
          each port in panel.port
            span.patch__data-content-pair
              p.patch__data-content-item
                a(href="/network/patch/#{panel.node}/#{panel.panel}/#{port.num}") #{port.num}
              p.patch__data-content-item
                a(href="/network/patch/#{panel.node}/#{panel.panel}/#{port.num}") #{port.dest}
        .mdl-card__menu
          a.mdl-button.mdl-js-button.mdl-button--icon(href='/network/patch/add')
              i.material-icons add
